{
  "root": true,
  "ignorePatterns": [
    "node_modules",
    "static",
    "build"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "standard-with-typescript"
  ],
  "rules": {
    "semi": ["error", "always"],
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/strict-boolean-expressions": ["error", { "allowNullableObject": true, "allowNullableBoolean": true }],
    "@typescript-eslint/no-unused-vars": ["error", {
      "varsIgnorePattern": "^jsx$",
      "ignoreRestSiblings": true
    }],
    "@typescript-eslint/no-misused-promises": ["error", { "checksVoidReturn": false }]
  }
}
